

body {
    font-family: Arial, Helvetica, sans-serif;
}

.img {
	width: 85px;
	height: 80px;
	margin: 3px;
}

.text {
    max-width: 800px;
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: space-between;

}

.submit_form {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    min-height: 250px;
    border: solid 2px #61420c;
    background-color: #F5F5DC;
}

.info {
    font-size: 18px;
    padding-left: 10px;
}


.label {
  display: flex;
  margin-top: 20px;
  position: relative;
}

.input_name {
    width: 95px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}

.input_number {
    width: 200px;
    height: 25px;
    padding-left: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #343435;
}

.valid_input {
    font-size: 16px;
    font-weight: 600;
    color: red;
	margin-left: 10px;
}

.honor_board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 330px;
    min-height: 330px;
    justify-content: center;
    border: solid 2px #61420c;
    background-color: #F5F5DC;
}



button {
    cursor: pointer;
    width: 220px;
    font-size: 16px;
    background: #3498db;
    color: #fff;
    border: 0.25rem solid #3498db;
    padding: 4px;
    margin-left: 115px;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;

}

button:hover {
    color: #3498db;

}

button::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
}

.btn::after {
    transition: all 0.5s;

}

.btn:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.5s;

}

.btn::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
}

@media screen and (max-width: 800px) {

    .honor_board{
        width: 450px;
        margin-top: 10px;
    }

    .text {
        max-width: 450px;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper {
        justify-content: center;
    }
}
